html {
  height: fit-content;
}

body.bordly-email {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
}

.bordly-email a {
  color: oklch(48.8% 0.243 264.376); /* blue-700 */
}

.bordly-email blockquote {
  margin-left: 0.25rem;
  border-left: 1px solid oklch(0.871 0.006 286.286); /* zinc-300 */
  padding-left: 0.5rem;
}

.bordly-email ul {
  list-style-type: disc;
  margin-left: 1.25rem;
  padding-left: 0.25rem;
  margin-top: 0.5rem;
}

.bordly-email ol {
  list-style-type: decimal;
  margin-left: 1.25rem;
  padding-left: 0.25rem;
  margin-top: 0.5rem;
}
