@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(0.994 0 0); /* zinc-25 */
  --primary-foreground: oklch(0.985 0 0); /* zinc-50 */
  --secondary: oklch(0.967 0.001 286.375); /* zinc-100 */
  --muted: oklch(0.967 0.001 286.375); /* zinc-100 */
  --accent: oklch(0.967 0.001 286.375); /* zinc-100 */
  --border: oklch(0.92 0.004 286.32); /* zinc-200 */
  --input: oklch(0.92 0.004 286.32); /* zinc-200 */
  --ring: oklch(0.871 0.006 286.286); /* zinc-300 */
  --muted-foreground: oklch(0.552 0.016 285.938); /* zinc-500 */
  --primary: oklch(0.21 0.006 285.885); /* zinc-900 */
  --secondary-foreground: oklch(0.21 0.006 285.885); /* zinc-900 */
  --accent-foreground: oklch(0.21 0.006 285.885); /* zinc-900 */
  --foreground: oklch(0.141 0.005 285.823); /* zinc-950 */
  --card-foreground: oklch(0.141 0.005 285.823); /* zinc-950 */
  --popover-foreground: oklch(0.141 0.005 285.823); /* zinc-950 */
  --card: oklch(1 0 0); /* white */
  --popover: oklch(1 0 0); /* white */
  --destructive: oklch(0.577 0.245 27.325); /* red-500 */
  --destructive-foreground: oklch(0.577 0.245 27.325); /* red-500 */
  --radius: 0.625rem; /* 10px */

  /*--chart-1: oklch(0.646 0.222 41.116); /* orange-500 */
  /*--chart-2: oklch(0.6 0.118 184.704); /* cyan-500 */
  /*--chart-3: oklch(0.398 0.07 227.392); /* blue-700 */
  /*--chart-4: oklch(0.828 0.189 84.429); /* lime-400 */
  /*--chart-5: oklch(0.769 0.188 70.08); /* yellow-400 */
  /*--sidebar: oklch(0.985 0 0); /* zinc-50 */
  /*--sidebar-foreground: oklch(0.141 0.005 285.823); /* zinc-950 */
  /*--sidebar-primary: oklch(0.21 0.006 285.885); /* zinc-900 */
  /*--sidebar-primary-foreground: oklch(0.985 0 0); /* zinc-50 */
  /*--sidebar-accent: oklch(0.967 0.001 286.375); /* zinc-100 */
  /*--sidebar-accent-foreground: oklch(0.21 0.006 285.885); /* zinc-900 */
  /*--sidebar-border: oklch(0.92 0.004 286.32); /* zinc-200 */
  /*--sidebar-ring: oklch(0.871 0.006 286.286); /* zinc-300 */

  --text-semi-muted: oklch(70.5% 0.015 286.067); /* zinc-400 */
  --text-secondary: oklch(37% 0.013 285.805); /* zinc-700 */
  --contrast: oklch(51.1% 0.262 276.966); /* indigo-600 */
  --contrast-foreground: oklch(45.7% 0.24 277.023); /* indigo-700 */
  --text-xs: 0.813rem; /* 13px */
  --text-2xs: 0.75rem; /* 12px */
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);

  /*--chart-1: oklch(0.488 0.243 264.376);*/
  /*--chart-2: oklch(0.696 0.17 162.48);*/
  /*--chart-3: oklch(0.769 0.188 70.08);*/
  /*--chart-4: oklch(0.627 0.265 303.9);*/
  /*--chart-5: oklch(0.645 0.246 16.439);*/
  /*--sidebar: oklch(0.21 0.006 285.885);*/
  /*--sidebar-foreground: oklch(0.985 0 0);*/
  /*--sidebar-primary: oklch(0.488 0.243 264.376);*/
  /*--sidebar-primary-foreground: oklch(0.985 0 0);*/
  /*--sidebar-accent: oklch(0.274 0.006 286.033);*/
  /*--sidebar-accent-foreground: oklch(0.985 0 0);*/
  /*--sidebar-border: oklch(0.274 0.006 286.033);*/
  /*--sidebar-ring: oklch(0.442 0.017 285.786);*/

  --text-semi-muted: oklch(0.552 0.016 285.938); /* zinc-500 */
  --text-secondary: oklch(87.1% 0.006 286.286); /* zinc-300 */
  --contrast: oklch(45.7% 0.24 277.023); /* indigo-700 */
  --contrast-foreground: oklch(51.1% 0.262 276.966); /* indigo-600 */
  --text-xs: 0.813rem; /* 13px */
  --text-2xs: 0.75rem; /* 12px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-text-semi-muted: var(--text-semi-muted);
  --color-text-secondary: var(--text-secondary);
  --color-contrast: var(--contrast);
  --color-contrast-foreground: var(--contrast-foreground);
  --text-xs: var(--text-xs);
  --text-2xs: var(--text-2xs);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* For Webkit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 4px; /* Narrow width for vertical scrollbar */
    height: 4px; /* Narrow height for horizontal scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: color-mix(in oklch, var(--muted) 50%, transparent); /* Light gray background */
  }

  ::-webkit-scrollbar-thumb {
    background: color-mix(in oklch, var(--muted-foreground) 30%, transparent); /* Light gray thumb */
    border-radius: 4px; /* Optional: rounded edges */
  }

  /* For Firefox */
  * {
    scrollbar-width: thin; /* Makes it narrow */
    scrollbar-color: color-mix(in oklch, var(--muted-foreground) 30%, transparent) color-mix(in oklch, var(--muted) 50%, transparent); /* thumb, track */
  }
}
